{% block body %}
<h1>Pig game [PLAYING]</h1>

<p>Roll the dices or save the points you have.</p>

<form method="post" action="">
    <p>
        <input type="submit" name="roll" value="Roll">
        <input type="submit" name="save" value="Save">
        <input type="submit" name="restart" value="Restart">
    </p>
</form>

{% endblock %}
