{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>mvc-kursen</h1>
    <p>Denna sida utgår från dbwebb-kursen mvc - objektorienterade webbteknologier.</p>
    <p>PHP är programmeringsspråket med huvudfokus för kursen, även om andra språk används och förekommer.</p>
    <img src="{{ asset('img/favicon.ico') }}" alt="Dark">
    <div class="about-links">
        <div class="column-1">
            <h2>mvc-länkar</h2>
            <p>Kursens GitHub-sida</p>
            <a href="https://github.com/dbwebb-se/mvc/">länk</a>
            <p>Kursens dbwebb-sida</p>
            <a href="https://dbwebb.se/kurser/mvc-v2">länk</a>
        </div>
        <div class="column-2">
            <h2>osau24-länkar</h2>
            <p>osau24 (mvc) GitHub-sida</p>
            <a href="https://github.com/bth-osk/mvc-kurs">länk</a>
        </div>
    </div>

{% endblock %}