{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Hem för osau24</h1>
        <p>Här är startsidan till mvc-kursen, för osau24</p>
        <div class="index-img-area">
            <img src="{{ asset('img/bw.png') }}" alt="Dark">
        </div>
{% endblock %}