{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>

    <h2 id="kmom01">kmom01</h2>

    <h3>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h3>
        <p>Främst genom arbetet med objektorienting i oopython-kursen.</p>
    <h3>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</h3>
        <p>Klasser för att beskriva utformningen, med attribut och metoder. Objektinstanser som följer klassbeskrivningar. Jag skulle rekommendera denna artikel om man vill komma igång och bekanta sig med klasser och objekt i PHP: <a href="https://www.php.net/manual/en/language.oop5.basic.php">länk</a></p>
    <h3>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h3>
        <p>De ramverk som startats igång, i kurserna jag hittills läst, har jag uppfattat som "överdimensionerade" och med mycket extra "fluff". Detta i jämförelse med vad som ska presenteras i en kmom01-uppgift. Detta sammanhang är inget undantag. Några av respektive ramverks trevliga egenskaper att nyttja, brukar dock klarna över tid och efter användning/övning.</p>
    <h3>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</h3>
        <p>Jag överblickade främst artikeln, och har inte läst den till den grad att jag är helt bekväm med att peka på delar jag skulle mena på vara mer värdefulla än andra. I och med att jag ombeds lyfta fram någon del av artikeln, kan jag något forcerat nämna att jag uppskattade uppgifterna/varningarna om bristande UTF-8 hantering i PHP som språk. Inklusive exempel som gavs på att vissa funktioner inte hanterar UTF-8 strängar på ett bra/korrekt sätt.</p>
    <h3>Vilken är din TIL för detta kmom?</h3>
        <p>Att ramverk, likt namnet antyder, troligtvis är besläktat med konceptet huvudvärk.</p>
{% endblock %}